.box_rounded_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_rounded_root {
  height: 75%;
  width: 30rem;
  background-color: rgb(var(--background));
  border-radius: var(--border-radius);

  position: relative;
}
