.channel_container {
  background-color: rgb(var(--background));
  color: rgb(var(--background-light));
  height: 100%;

  padding-inline: 1rem;
}

.channel_title {
  padding: 0;
  border-radius: var(--border-radius);
}

.message_panel_container {
  height: 100%;

  background-color: rgb(var(--background-light));
}
