:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono",
    "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono",
    "Courier New", monospace;
  --font-normal: "Segoe UI", sans-serif;

  --border-radius: 10px;

  --background: 58, 58, 58;
  --background-darker: 38, 38, 44;
  --background-light: 255, 250, 255;
}

body,
html {
  margin: 0;
  font-family: var(--font-normal);
}

*,
::after,
::before {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
