.channel_container {
  background-color: rgb(var(--background-darker));
  color: rgb(var(--background-light));
  height: 100%;

  padding-inline: 1rem;

  display: grid;
  grid-template-rows: 5rem auto 4rem;
}

.toolbar_options {
  color: whitesmoke;
}

.channel_title {
  display: flex;
  justify-content: flex-start;
  column-gap: 2rem;
  border-bottom: 1px solid rgb(var(--background));
  padding: 0;
}

.message_panel_container {
  height: 100%;

  background-color: rgb(var(--background-light));
}
